{% extends "base.html" %}
{% load static %}

  <!-- Navbar -->
  {% block head_title %}
  About
  {% endblock %}

{% block content %}

  <!--/.Carousel Wrapper-->

  <!--Main layout-->
  <main>
    <div class="container">



        <nav class="nav py-1 navbar-dark mdb-color z-depth-1 lighten-3 mt-3 mb-1 aqua-gradient">
          <div class="text-wrap">
          <a href="{% url 'core:home' %}" class="badge  ml-2 mr-1 mb-2 mt-2 blue-gradient">
            <i class="fas fa-home"></i>
            Home
          </a> <b class="ml-1 mr-1">/</b>
          <a href="{% url 'core:order-summary' %}" class="badge badge-primary ml-2 mr-1 mb-2 mt-2 peach-gradient">
            <i class="fas fa-shopping-cart" style="color:white;"></i>
            Cart
          </a>
          </div>
        </nav>


    <!--Card-->


    <section class="text-center mb-4 mt-5">

      <!--Grid row-->

      <div class="row wow fadeIn">


        <div class="container">
        <div class="jumbotron">
          <i class="fas fa-6x fa-globe-asia" style="color:silver;"></i>
          <h1 class="mt-3">prismco.</h1>
          <p>Since 2012</p>
        </div>
        </div>



      </div>
      <!--Grid row-->

    </section>
    <!--Section: Products v.3-->


    <!--/.Card-->
</div>

  </main>
  <!--Main layout-->
{% endblock content %}
