{% extends "base.html" %}
{% load static %}

{% block head_title %}{{object.title}}{% endblock %}
{% block content %}

  <!--Main layout-->
  <main class=" pt-4">

    <div class="container ">
      <nav class="navbar navbar-expand-lg navbar-dark special-color-dark lighten-3 mt-3 mb-5">

        <!-- Navbar brand -->
        <span class="navbar-brand"><h6 class="mt-2">{{object.title}}:</h6></span>

        <!-- Collapse button -->
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#basicExampleNav"
          aria-controls="basicExampleNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon" style="color: black;"></span>
        </button>

        <!-- Collapsible content -->
        <div class="collapse navbar-collapse" id="basicExampleNav">

          <!-- Links -->
          <ul class="navbar-nav mr-auto">

          </ul>
          <!-- Links -->

          <form class="form-inline">
            <div class="md-form my-0">
              <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
            </div>
          </form>
        </div>
        <!-- Collapsible content -->

      </nav>


      <!--Grid row-->
      <div class="row wow fadeIn">

        <!--Grid column-->
        <div class="col-md-6 mb-4">

          <img src="{{ object.image.url }}" class="img-fluid" alt="">

        </div>
        <!--Grid column-->

        <!--Grid column-->
        <div class="col-md-6 mb-4">

          <!--Content-->
          <div class="p-4">

            <div class="mb-3">
              <a href="">
                <span class="badge purple mr-1">{{ object.get_category_display }}</span>
                <span class="badge {{ item.get_label_display }}-color mr-1">{{ object.label_name }}</span>
                {% if item.percentage_off %}
                <span class="badge peach-gradient">{{item.percentage_off}}% OFF</span>
                {% endif %}
              </a>
            </div>

            <h3>
              <b class="">{{ object.title }}</b>
            </h3>

            <p class="lead">
              {% if item.discount_price %}
                <span class="mr-1">
                  <del>Rs.{{object.price}}</del>
                </span>
                <span>Rs.{{object.discount_price}}</span>
              {% else %}
                Rs. {{ object.price }}
              {% endif %}
            </p>

            <p class="lead font-weight-bold">Description</p>

            <p>{{ object.description }}</p>
            <form>
            (
            {% csrf_token %}
            {{form}})
            </form>
            {% comment%}
            <form class="d-flex justify-content-left">
              <!-- Default input -->
              <input type="number" value="1" aria-label="Search" class="form-control" style="width: 100px">
              <a href="{{ object.get_add_to_cart_url }}" class="btn btn-primary btn-md my-0 p">Add to cart
                <i class="fas fa-shopping-cart ml-1"></i>
              </a>
            </form>
            {% endcomment %}
            {% csrf_token %}
            <form>
              {{forms}}

            </form>
            <form action="{{ object.get_add_to_cart_for_product_url }}">
            <button class="btn text-white primary-color-dark btn-md my-0 p">Add to cart
              <i class="fas fa-shopping-cart ml-1"></i>
            </button>




            <!-- Grid row -->

          </div>
          <!--Content-->

        </div>
        <!--Grid column-->

      </div>
      <!--Grid row-->

      <hr>

      <!--Grid row-->
      <div class="row d-flex justify-content-center wow fadeIn">

        <!--Grid column-->
        <div class="col-md-6 text-center">

          <h4 class="my-4 h4">Additional information</h4>

          <p>{{object.add_info}}</p>

        </div>
        <!--Grid column-->

      </div>
      <!--Grid row-->

      <!--Grid row-->
      <div class="row wow fadeIn">

        <!--Grid column-->
        <div class="col-lg-4 col-md-12 mb-4">

          <img src="{{ object.add_image1.url }}" class="img-fluid" alt="">

        </div>
        <!--Grid column-->

        <!--Grid column-->
        <div class="col-lg-4 col-md-6 mb-4">

          <img src="{{ object.add_image1.url }}" class="img-fluid" alt="">

        </div>
        <!--Grid column-->

        <!--Grid column-->
        <div class="col-lg-4 col-md-6 mb-4">

          <img src="{{ object.add_image1.url }}" class="img-fluid" alt="">

        </div>
        <!--Grid column-->

      </div>
      <!--Grid row-->

    </div>
  </main>
  <!--Main layout-->
{% endblock %}
