{% extends "account/base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Sign Out" %}{% endblock %}

{% block content %}

<main>  <!--Section: Products v.3-->
  <div class="container">
  <section class=" mb-4 md-5 pt-5 aqua-gradient z-depth-1" style="margin-top:5px;">
      <!--Grid row-->
    <div class="row wow fadeIn">
      <div class="col-10 offset-1">
<h1>{% trans "Sign Out" %}</h1>

<p>{% trans 'Are you sure you want to sign out?' %}</p>

<form method="post" action="{% url 'account_logout' %}">
  {% csrf_token %}
  {% if redirect_field_value %}
  <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}"/>
  {% endif %}
  <button type="submit" style="margin-bottom:15px;" class="btn peach-gradient">{% trans 'Yes' %}</button>
</form>
</div>
</div>
</section>
</main>

{% endblock %}
